.svg img{
	width: 180px;
}

.otp_wrapper{
	text-align: center;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
}

h4{
	color: #004993;
	font-weight: 700;
}

.mobile-text{
    color: #666;
    font-size: 15px
}

.otp_cont{
	width: 12%;
}

#submit_button{
	width: 50%;
	margin-left: 25%;
}

.form-control {
    margin-right: 12px
}
